
sportcenter/.gradle/file-system.probe
sportcenter/.gradle/buildOutputCleanup/outputFiles.bin
sportcenter/.gradle/buildOutputCleanup/cache.properties
sportcenter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sportcenter/.gradle/8.3/gc.properties
sportcenter/.gradle/8.3/fileHashes/resourceHashesCache.bin
sportcenter/.gradle/8.3/fileHashes/fileHashes.lock
sportcenter/.gradle/8.3/fileHashes/fileHashes.bin
sportcenter/.gradle/8.3/fileChanges/last-build.bin
sportcenter/.gradle/8.3/executionHistory/executionHistory.lock
sportcenter/.gradle/8.3/executionHistory/executionHistory.bin
sportcenter/.gradle/8.3/dependencies-accessors/gc.properties
sportcenter/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
sportcenter/.gradle/8.3/checksums/sha1-checksums.bin
sportcenter/.gradle/8.3/checksums/md5-checksums.bin
sportcenter/.gradle/8.3/checksums/checksums.lock
sportcenter/.gradle/file-system.probe
sportcenter/.gradle/buildOutputCleanup/outputFiles.bin
sportcenter/.gradle/buildOutputCleanup/cache.properties
sportcenter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sportcenter/build/classes/java/main/ca/mcgill/ecse321/sportcenter/SportCenterService.class
sportcenter/build/jacoco/test.exec
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Account.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Account.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/BillingAccount.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/BillingAccount.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Course$Difficulty.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Course$Status.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Course.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Course.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Customer.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Customer.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/index.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/index.source.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Instructor.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Instructor.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Location.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Location.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Owner.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Owner.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Registration$Key.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Registration.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Registration.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Session.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/Session.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/SportCenter.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter.model/SportCenter.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter/index.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter/index.source.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter/SportcenterApplication.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter/SportcenterApplication.java.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter/SportCenterService.html
sportcenter/build/reports/jacoco/test/html/ca.mcgill.ecse321.sportcenter/SportCenterService.java.html
sportcenter/build/reports/jacoco/test/html/index.html
sportcenter/build/reports/jacoco/test/html/jacoco-resources/branchfc.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/branchnc.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/branchpc.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/bundle.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/class.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/down.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/greenbar.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/group.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/method.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/package.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/prettify.css
sportcenter/build/reports/jacoco/test/html/jacoco-resources/prettify.js
sportcenter/build/reports/jacoco/test/html/jacoco-resources/redbar.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/report.css
sportcenter/build/reports/jacoco/test/html/jacoco-resources/report.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/session.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/sort.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/sort.js
sportcenter/build/reports/jacoco/test/html/jacoco-resources/source.gif
sportcenter/build/reports/jacoco/test/html/jacoco-resources/up.gif
sportcenter/build/reports/jacoco/test/html/jacoco-sessions.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.AccountRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.BillingAccountRepositoryTests.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.CourseRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.LocationRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.RegistrationRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.SessionRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.SportCenterRepositoryTests.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.SportcenterApplicationTests.html
sportcenter/build/reports/tests/test/index.html
sportcenter/build/reports/tests/test/packages/ca.mcgill.ecse321.sportcenter.html
sportcenter/build/reports/tests/test/packages/ca.mcgill.ecse321.sportcenter.repository.html
sportcenter/build/test-results/test/binary/output.bin
sportcenter/build/test-results/test/binary/output.bin.idx
sportcenter/build/test-results/test/binary/results.bin
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.AccountRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.BillingAccountRepositoryTests.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.CourseRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.LocationRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.RegistrationRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.SessionRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.SportCenterRepositoryTests.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.SportcenterApplicationTests.xml
sportcenter/build/tmp/.cache/expanded/expanded.lock
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/about.html
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/jacocoagent.jar
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/META-INF/MANIFEST.MF
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/org/jacoco/agent/AgentJar.class
sportcenter/build/tmp/.cache/expanded/zip_0bd0851504e6286cb5fc6f37a81e25cc/org/jacoco/agent/package-info.class
sportcenter/build/tmp/compileJava/previous-compilation-data.bin
sportcenter/build/tmp/compileTestJava/previous-compilation-data.bin
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.AccountRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.BillingAccountRepositoryTests.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.CourseRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.LocationRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.SessionRepositoryTest.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.repository.SportCenterRepositoryTests.html
sportcenter/build/reports/tests/test/classes/ca.mcgill.ecse321.sportcenter.SportcenterApplicationTests.html
sportcenter/build/reports/tests/test/index.html
sportcenter/build/reports/tests/test/packages/ca.mcgill.ecse321.sportcenter.html
sportcenter/build/reports/tests/test/packages/ca.mcgill.ecse321.sportcenter.repository.html
sportcenter/build/test-results/test/binary/output.bin
sportcenter/build/test-results/test/binary/output.bin.idx
sportcenter/build/test-results/test/binary/results.bin
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.AccountRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.BillingAccountRepositoryTests.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.CourseRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.LocationRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.SessionRepositoryTest.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.repository.SportCenterRepositoryTests.xml
sportcenter/build/test-results/test/TEST-ca.mcgill.ecse321.sportcenter.SportcenterApplicationTests.xml
sportcenter/build/tmp/compileJava/previous-compilation-data.bin
sportcenter/build/tmp/compileTestJava/previous-compilation-data.bin
*.html
*.xml
sportcenter/.gradle/file-system.probe
sportcenter/.gradle/buildOutputCleanup/outputFiles.bin
sportcenter/.gradle/buildOutputCleanup/cache.properties
sportcenter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sportcenter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sportcenter/.gradle/buildOutputCleanup/cache.properties
sportcenter/.gradle/buildOutputCleanup/outputFiles.bin
sportcenter/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sportcenter/.gradle/8.5/fileHashes/resourceHashesCache.bin
sportcenter/.gradle/8.5/fileHashes/fileHashes.lock
sportcenter/.gradle/8.5/fileHashes/fileHashes.bin
sportcenter/.gradle/8.5/executionHistory/executionHistory.lock
sportcenter/.gradle/8.5/executionHistory/executionHistory.bin
sportcenter/.gradle/file-system.probe
