@import url('https://fonts.googleapis.com/css?family=Figtree:300,400,500,600,700,800,900');

:root{
    --color-black: #171313;
    --color-muted-black: #837e7e;
    --color-pink: #FFD0D6;
    --color-salmon: #FB7EA8;
}

* {
    font-family: 'Figtree';
    color: var(--color-black);
    font-weight: 700;
    font-style: normal;
}

/* Adjust font size for small screens */
@media (max-width: 767.98px) {
    #title-heading {
        font-size: 5em;
        /* Adjust the font size as needed */
    }
}

h1 {
    /* Used for big headings of Sign In and Registration */
    font-weight: 700;
    font-size: 5em;
    text-align: left;
}

/* Used for headings at the beginning of the page like Our Courses, Our Instructors, etc */
h2 {
    font-size: 28px;
    text-align: justify;
    font-weight: 700;
}

.nav-link {
    color: var(--color-black) !important;
}

.nav-link:hover {
    color: var(--color-muted-black) !important;
}

/* To be deleted, just to visualize the hooper slides */
.slide-style {
    border: 10px solid #000000;
}

.btn {
    border-radius: 20px !important;
    font-weight: 600;
}

.btn-primary {
    border-color: #524E5E !important;
    background-color: #524E5E !important;
    color: #FFFFFF !important;
}

.btn-secondary {
    border-color: #F9F9F9 !important;
    background-color: #F9F9F9 !important;
    color: #524E5E !important;
}